.blog-description
  @extend $block
  overflow: hidden
  margin: 0 0.83%
  margin-top: 30px
  padding: 20px
  width: auto
  p
    margin-block: 5px 5px

.description-links
  font-weight: bold 
  float: right
  a
    color: color-link
    text-decoration: none
    margin-left: 4px
    &:hover
      text-decoration: underline
